# Firebase Configuration
FIREBASE_API_KEY=AIzaSyDkdz6vqiWheza_ZM2kobaXCv5szCjsGqM
FIREBASE_AUTH_DOMAIN=medicao-73dcd.firebaseapp.com
FIREBASE_PROJECT_ID=medicao-73dcd
FIREBASE_STORAGE_BUCKET=medicao-73dcd.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=941639285481
FIREBASE_APP_ID=1:941639285481:web:5515c9e56921859cd48e78
